.el-aside {
    width: auto !important;
    text-align: center;
    overflow: hidden;
}

.el-icon-d-arrow-right,
.el-icon-d-arrow-left {
    font-size: 16px;
    margin: 0 auto 40px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%, );
}

.cate-wrap {
    height: 100%;
    display: flex;
    position: relative;

    .categories {
        width: 60px;
        height: 100%;
        padding-right: 10px;
        flex-grow: 1;
        flex-shrink: 0;
        border-right: 1px solid #f0f0f0;

        li {
            margin: 0 auto 20px;
            text-align: center;
            transition: all 0.1s ease;

            &:hover,
            &:active {
                color: #409EFF;
            }

            i[class^="el-icon"] {
                font-size: 32px;
                cursor: pointer;
            }

            &.active {
                color: #409EFF;
            }
        }
    }

    .cate-list {
        height: 100%;
        width: 240px;
        padding-right: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        li {
            width: 110px;
            height: 120px;
            flex-shrink: 0;
            border: 1px solid transparent;

            .el-icon-video-camera {
                font-size: 50px;
            }

            &:hover {
                border: 1px solid #409EFF;
            }
        }
    }
}