.el-main {
    height: 100%;
    width: 100%;
    min-width: 375px;
    background-color: #f0f0f0;
}

.content {
    display: flex;
    justify-content: center;

    .wrap {
        width: 375px;
        height: 667px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
    }
}