$color: #1a73e8;

.pack {
    position: relative;
    cursor: move;
    border: 1px solid transparent;

    .pack-wrap {
        overflow: hidden;
    }

    >i {
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background-color: $color;
        position: absolute;
        z-index: 1;
        display: none;
    }

    .dot-lt {
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        cursor: nw-resize;
    }

    .dot-rt {
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        cursor: sw-resize;
    }

    .dot-lb {
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%);
        cursor: sw-resize;
    }

    .dot-rb {
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
        cursor: se-resize;
    }

    .dot-ct {
        top: 0;
        right: 50%;
        transform: translate(-50%, -50%);
        cursor: n-resize;
    }

    .dot-cb {
        bottom: 0;
        right: 50%;
        transform: translate(-50%, 50%);
        cursor: n-resize;
    }

    .dot-cl {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        cursor: e-resize;
    }

    .dot-cr {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        cursor: e-resize;
    }

    .move-wrap {}
}

.act {
    border: 1px solid $color;

    >i {
        display: block;
    }
}